{%  extends 'base.html' %}
{%  block content %}
    <div class="row">
    <div class="col-md-9">

   <div class="progress">
  <div class="progress-bar progress-bar-striped bg-success progress-bar-success" role="progressbar" style="width: {{percent_w }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
      {{ done|length}} / {{ total }}
  </div>
</div>

<pre>

Project: <a href="{%  url 'actcode:project' project=view.project.id %}">{{ view.project.id}}: {{ view.project.name }}</a>
Coding label: {{ view.state.session.label.label }}
    {% if state %}
Active learning session {{ state.session.id }}, {{ ntodo }} left in queue
Document: {{ doc.id }} (score: {{ score| floatformat:2 }})
Query: {{ state.session.query }}
Todo triggered? {{  state.session.populate_task_id }}
    {%  else %}
Done: {{ done|length }} / {{ total }}
{%  endif %}
</pre>
{%  if all_done and not doc %}

    All done!
{%  else %}
<a class="btn btn-success btn-lg" href="{{ accept_url }}">ACCEPT</a> |
<a class="btn btn-danger btn-lg" href="{{ reject_url }}">REJECT</a>
<br/>
<br/>
    <div id="text" style="border:2px solid grey; padding:1em">{{ text|safe }}</div>
{%  endif %}
    </div>

    <div class="col-md-3">
        History:
    <ul>
        {%  for a in done %}
            <li/><a class="{%  if a.accept %}accept{%  else %}reject{% endif %}" href="{{ base_url }}?next={{ a.document_id }}">{{ a.document.title}}</a>
        {%  endfor %}
    </ul>
    </div>
    </div>
{%  endblock %}

{%  block postscript %}
<script>
function go(accept) {
    $("#text").css({"border-color": accept==1?"green":"red"});
    url = accept?"{{accept_url}}":"{{reject_url}}";

    window.setTimeout( function() {window.location.href = url}, 500 );
}

Mousetrap.bind('a', function() { go(1); });
Mousetrap.bind('x', function() { go(0); });
</script>
{%  endblock %}
