{%  extends 'base.html' %}
{% block content %}
<h1>Variable {{ view.project.id }}: {{  view.project.name | title }}</h1>
<pre>
Base model: {{ view.project.base_model }}
#Documents (training): {{ ntrain_total }}
#Documents (evaluation): {{ ngold_total }}
Trained model: {{ view.project.model_location }} ({{ view.project.model_timestamp|date:"c" }})
</pre>

<table class="table table-hover">
    <tr>
        <th>Label</th>
        <th>#Gold</th>
        <th>#Train</th>
        <th>Pr</th>
        <th>Re</th>
        <th>F1</th>
        <th>Actions</th>

    </tr>
    {%  for l in labelstats %}
        <tr>
            <td>{{ l.label.label }}</td>
            <td>{{ l.ngold }}</td>
            <td>{{ l.ntrain }}</td>
            <td>{{ l.pr | floatformat:2}}</td>
            <td>{{ l.re | floatformat:2}}</td>
            <td>{{ l.f1 | floatformat:2}}</td>
            <td>
                [<a href="{% url 'actcode:code-start' project=view.project.id label=l.label.id %}">Train</a>] |
                [<a href="{% url 'actcode:code-gold' project=view.project.id label=l.label.id %}">Evaluate</a>] |
                [<a href="{% url 'actcode:code-filter' project=view.project.id label=l.label.id %}">Filter</a>]
            </td>
        </tr>
    {%  endfor %}

</table.table-hover>
{%  endblock %}